[tool.poetry]
name = "koil"
version = "0.1.102"
readme = "README.md"
description = "Async for a sync world"
authors = ["jhnnsrs <jhnnsrs@gmail.com>"]
license = "CC BY-NC 3.0"
packages = [{include = "koil"}]

[tool.poetry.dependencies]
python = "^3.7"
jupyter = {version = "^1.0.0", optional = true}
qtpy = {version = ">1", optional = true}
uvloop =  {version = "^0.16.0", optional= true}
janus = "^1.0.0"

[tool.poetry.extras]
jupyter = ["jupyter"]
qtpy = ["qt"]
uvloop = ["uvloop"]

[tool.poetry.dev-dependencies]
pytest = "^7.0.1"
pytest-aiohttp = "^0.3.0"
pytest-cov = "^3.0.0"
black = "^21.12b0"
tox = "^3.24.5"
pydoc-markdown = "^4.5.1"
pytest-qt = "^4.0.2"
PyQt5 = "^5.15.6"
QtPy = "^2.0.1"
pydantic = "^1.9.0"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.pytest.ini_options]
asyncio_mode = "auto"

[[tool.pydoc-markdown.loaders]]
type = "python"
search_path = [ "koil" ]


[tool.pydoc-markdown.renderer]
type = "docusaurus"
docs_base_path = "website/docs"

