[tool.poetry]
name = "koil"
version = "0.2.14"
readme = "README.md"
description = "Async for a sync world"
authors = ["jhnnsrs <jhnnsrs@gmail.com>"]
license = "CC BY-NC 3.0"
packages = [{ include = "koil" }]

[tool.poetry.dependencies]
python = "^3.7"
qtpy = { version = ">1", optional = true }
uvloop = { version = "^0.16.0", optional = true }
janus = "^1.0.0"
cloudpickle = "^2.2.1"

[tool.poetry.extras]
qtpy = ["qt"]
uvloop = ["uvloop"]


[tool.poetry.group.dev.dependencies]
pytest = ">=7.2.0"
black = "^22.10.0"
pytest-cov = "^4.0.0"
pytest-qt = "^4.2.0"
QtPy = "^2.3.0"
pytest-asyncio = "^0.20.2"
pydantic = "^1.10.2"
autoflake = "^1.7.7"
pyqt5 = "5.15.9"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.pytest.ini_options]
asyncio_mode = "auto"
qt_api = "pyqt5"
markers = [
    "qt: marks tests that require a running qt application",
]


[[tool.pydoc-markdown.loaders]]
type = "python"
search_path = ["koil"]


[tool.pydoc-markdown.renderer]
type = "docusaurus"
docs_base_path = "website/docs"
